.row {
  width: 99vw;
  padding: 1rem;

  box-shadow: 0 0 1px #fff, 0 0 2px #fff, 0 0 3px var(--color-primary),
    0 0 4px var(--color-primary), 0 0 5px var(--color-primary),
    0 0 6px var(--color-primary), 0 0 7px var(--color-primary);
}

.row h2 {
  text-align: left;
}
.movieRow {
  overflow-x: scroll;
  display: flex;
  align-items: center;
}

.scroll {
  position: absolute;

  z-index: 5;

  width: 30px;
  height: 50px;

  background-color: rgba(0, 0, 0, 0.6);

  border: none;
  cursor: pointer;

  display: grid;
  place-items: center;
}
.left {
  left: 0;
}
.right {
  right: 0;
}

.scroll:hover {
  text-shadow: 0 0 1px #fff, 0 0 2px #fff, 0 0 3px var(--color-2),
    0 0 4px var(--color-2), 0 0 5px var(--color-2), 0 0 6px var(--color-2),
    0 0 7px var(--color-2);
  box-shadow: 0 0 1px #fff, 0 0 2px #fff, 0 0 3px var(--color-2),
    0 0 4px var(--color-2), 0 0 5px var(--color-2), 0 0 6px var(--color-2),
    0 0 7px var(--color-2);
  transform: scale(1.1);
}

@media (max-width: 500px) {
  .row h2 {
    text-align: center;
  }

  .scroll {
    display: none;
  }
}
