.carousel {
  width: 99vw;
  min-height: 200px;
  height: 70vh;

  display: flex;
  align-items: center;
  justify-content: space-around;

  padding: 0.5rem;
  box-shadow: 0 0 1px #fff, 0 0 2px #fff, 0 0 3px var(--color-1),
    0 0 4px var(--color-1), 0 0 5px var(--color-1), 0 0 6px var(--color-1),
    0 0 7px var(--color-1);
}

.carouselItem {
  width: 70%;

  min-width: 80%;
  height: 100%;

  display: flex;

  border-radius: 8px;
  overflow: hidden;
}

.carouselItemImage {
  width: 100%;
  height: 100%;

  cursor: pointer;

  transition: ease-in 0.5s;
  object-fit: cover;

  z-index: 0;
}

.carouselItemDetails {
  position: absolute;
  bottom: 0;
  width: 100%;

  padding: 1rem;
  color: #fff;

  text-shadow: 0 0 1px #fff, 0 0 2px #fff, 0 0 3px var(--color-primary),
    0 0 4px var(--color-primary), 0 0 5px var(--color-primary),
    0 0 6px var(--color-primary), 0 0 7px var(--color-primary);
  vertical-align: center;
}

.carouselItemDetails h1 {
  font-size: 2rem;
}

.star {
  object-fit: contain;
  height: 1rem;
  width: 1rem;
}

.next,
.prev {
  z-index: 10;
  width: 30px;
  height: 50px;

  background-color: transparent;

  border: none;
  cursor: pointer;

  display: grid;
  place-items: center;
}

.next:hover,
.prev:hover {
  text-shadow: 0 0 1px #fff, 0 0 2px #fff, 0 0 3px var(--color-2),
    0 0 4px var(--color-2), 0 0 5px var(--color-2), 0 0 6px var(--color-2),
    0 0 7px var(--color-2);
  box-shadow: 0 0 1px #fff, 0 0 2px #fff, 0 0 3px var(--color-2),
    0 0 4px var(--color-2), 0 0 5px var(--color-2), 0 0 6px var(--color-2),
    0 0 7px var(--color-2);
  transform: scale(1.1);
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
@media (max-width: 500px) {
  .carousel {
    height: 30vh;
  }

  .carouselItem {
    width: calc(90%-70px);
  }

  .next:hover,
  .prev:hover {
    box-shadow: none;
    transform: none;
  }
  .carouselItemDetails {
    font-size: 0.6rem;
  }
  .carouselItemDetails h1 {
    font-size: 0.6rem;
  }

  .star {
    object-fit: contain;
    height: 0.5rem;
    width: 0.5rem;
  }
}
